<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="container-fluid">
        <img src="https://github.com/rafaelevora/exercise-collaborative-html-website/blob/master/website/assets/img/2.jpg?raw=true"
            class="rounded mx-auto d-block" alt="hands on computer keyboard">
    </div>
    <h3>The Second Heading is PRETTY COOL</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione hic explicabo esse obcaecati cumque amet
        doloremque ut magnam voluptatem natus nesciunt odit voluptates dolor, recusandae dicta consequatur consequuntur
        quasi rerum.</p>
</body>

</html>>