<div class="container">
   <h1 class="mb-2 text-center text-lg-start">Portfolio</h1>
   <p class="text-muted mb-4 text-center text-lg-start">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa
      repellendus consectetur consequuntur quae reprehenderit voluptatum laborum
      nisi sunt! Assumenda repellendus repudiandae beatae, quia quod libero. Quis
      laboriosam inventore hic.
   </p>
   <div class="row justify-content-center g-4 py-4">
      <div class="col-12 col-sm-6 col-lg-4 d-flex">
         <div class="card">
            <img
               src="https://randomwordgenerator.com/img/picture-generator/53e1d2454954af14f1dc8460962e33791c3ad6e04e507440752b7edc974cc7_640.jpg"
               class="card-img-top" alt="Picture 1" />
            <div class="card-body bg-body-secondary">
               <h5>Picture 1</h5>
               <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
               </p>
            </div>
         </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4">
         <div class="card">
            <img src="https://cdn.pixabay.com/photo/2014/03/14/08/45/poppy-287037_1280.jpg" class="card-img-top"
               alt="Picture 2" />
            <div class="card-body bg-body-secondary">
               <h5>Picture 2</h5>
               <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
               </p>
            </div>
         </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 d-flex">
         <div class="card">
            <img
               src="https://randomwordgenerator.com/img/picture-generator/57e2d54a4c5bae14f1dc8460962e33791c3ad6e04e507440742f7cd7904ec1_640.jpg"
               class="card-img-top" alt="Picture 3" />
            <div class="card-body bg-body-secondary">
               <h5>Picture 3</h5>
               <p class=" card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>