      <h1>Portfolio</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa repellendus consectetur consequuntur quae reprehenderit voluptatum laborum nisi sunt! Assumenda repellendus repudiandae beatae, quia quod libero. Quis laboriosam inventore hic.</p>
      <div class="container text-center">
        <div style="grid-template-columns: 0fr 0fr 1fr;" class="d-grid gap-3">
            <div class="card" style="width: 18rem;">
               <img src="https://randomwordgenerator.com/img/picture-generator/53e1d2454954af14f1dc8460962e33791c3ad6e04e507440752b7edc974cc7_640.jpg" class="card-img-top" alt="Picture description">
               <div class="card-body">
                  <h5 class="text-primary">Picture 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
               </div>
            </div>
            <div class="card" style="width: 18rem;">
               <img src="https://cdn.pixabay.com/photo/2014/03/14/08/45/poppy-287037_1280.jpg">
               <div class="card-body">
                  <h5 class="text-primary">Picture 2</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
               </div>
            </div>
            <div class="card" style="width: 18rem;">
               <img src="https://randomwordgenerator.com/img/picture-generator/57e2d54a4c5bae14f1dc8460962e33791c3ad6e04e507440742f7cd7904ec1_640.jpg" class="card-img-top" alt="Picture description">
               <div class="card-body">
                  <h5 class="text-primary">Picture 3</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
               </div>
            </div>
            </div>
      </div>
   </body>
</html>
<p><a href="#" class="link-danger">Portfolio.HTML</a></p>